<span style="font-size: 12px"> Service API:
    <span *ngIf="service" style="color: green"> Running</span>
    <span *ngIf="!service" style="color: red"> Not Running</span>
</span>
<table class="calculator" cellspacing="0" cellpadding="1">
    <tr>
        <td colspan="5"><input id="display" name="display" [value]="input" size="28" maxlength="25"></td>
    </tr>
    <tr>
        <td><input type="button" class="btnTop" name="btnTop" value="History" (click)="history()"></td>
        <td><input type="button" class="btnTop" name="btnTop" value="C" (click)="input =  '0' "></td>
        <td><input type="button" class="btnTop" name="btnTop" value="Del" (click)="deleteChar()"></td>
        <td><input type="button" class="btnOpps" name="btnOpps" value="&#960;" (click)="addChar('3.14159265359')"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="+" (click)="addChar('+')"></td>
    </tr>
    <tr>
        <td><input type="button" class="btnNum" name="btnNum" value="7" (click)="addChar('7')"></td>
        <td><input type="button" class="btnNum" name="btnNum" value="8" (click)="addChar('8')"></td>
        <td><input type="button" class="btnNum" name="btnNum" value="9" (click)="addChar('9')"></td>
        <td><input type="button" class="btnOpps" name="btnOpps" value="x&#94;" (click)="exp()"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="-" (click)="addChar('-')"></td>
    <tr>
        <td><input type="button" class="btnNum" name="btnNum" value="4" (click)="addChar('4')"></td>
        <td><input type="button" class="btnNum" name="btnNum" value="5" (click)="addChar('5')"></td>
        <td><input type="button" class="btnNum" name="btnNum" value="6" (click)="addChar('6')"></td>
        <td><input type="button" class="btnOpps" name="btnOpps" value="&radic;" (click)="sqrt()"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="*" (click)="addChar('*')"></td>
    </tr>
    <tr>
        <td><input type="button" class="btnNum" name="btnNum" value="1" (click)="addChar('1')"></td>
        <td><input type="button" class="btnNum" name="btnNum" value="2" (click)="addChar('2')"></td>
        <td><input type="button" class="btnNum" name="btnNum" value="3" (click)="addChar('3')"></td>
        <td><input type="button" class="btnOpps" name="btnOpps" value="x&#50;" (click)="square()"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="/" (click)="addChar('/')"></td>
    </tr>
    <tr>
        <td><input type="button" class="btnMath" name="btnMath" value="&#177;" (click)="changeSign()"></td>
        <td><input type="button" class="btnNum" name="btnNum" value="0" (click)="addChar('0')"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="&#46;" (click)="addChar('&#46;')"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="cos" (click)="cos()"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="log" (click)="lg()"></td>
    </tr>
    <tr>
        <td><input type="button" class="btnMath" name="btnMath" value="(" (click)="addChar('(')"></td>
        <td><input type="button" class="btnMath" name="btnMath" value=")" (click)="addChar(')')"></td>
        <td><input type="button" class="btnTop" name="btnTop" value="=" (click)="compute()"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="sin" (click)="sin()"></td>
        <td><input type="button" class="btnMath" name="btnMath" value="tan" (click)="tan()"></td>
    </tr>
</table>
<table *ngIf="$history" border="2px solid black" class="tbhistory">
    <tr style="background-color: #0308d5; color: white">
        <th style="width: 25px">No</th>
        <th>Hitung</th>
        <th>Hasil</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let data of datahistory; let i=index">
        <td style="width: 25px">{{i+1}}</td>
        <td>{{data.spesial}}{{data.hitung | slice:0:12}}</td>
        <td (click)="hasil(data.hasil)" class="pointer" style="color: #0308d5; font-weight: bold">{{data.hasil | slice:0:12}}</td>
        <td><button (click)="edit(data)" class="pointer">Edit </button> | <button (click)="delete(data)" class="pointer">Delete </button></td>
    </tr>
</table>

<p style="text-align: left; margin-top: 5vh">
    Note: <br>1. Click button <span style="font-weight: bold">"history"</span> for show histori in database<br>
    2. If service <span style="color: red">Not Running </span>you must run angular app in "localhost:4200" <br>
    because header origin set to port 4200 in service backend<br>
</p>

