<span style="font-size: 12px"> Service API:<span *ngIf="service" style="color: green"> Running</span>
<span *ngIf="!service" style="color: red"> Not Running</span></span>
<table border="2px solid black" class="tbhistory">
  <tr style="background-color: #0308d5; color: white">
    <th style="width: 25px">No</th>
    <th>Hitung</th>
    <th>Hasil</th>
  </tr>
  <tr *ngFor="let data of datahistory; let i=index">
    <td style="width: 25px">{{i+1}}</td>
    <td>{{data.spesial}}{{data.hitung | slice:0:12}}</td>
    <td>{{data.hasil | slice:0:12}}</td>
  </tr>
</table>
