* {
  padding: 0;
  margin: 5px;
  text-align: center;
}
body {
  background-color:blue;
}
.calculator {
  width: 350px;
  height: 320px;
  background-color: #c0c0c0;
  box-shadow: 0px 0px 0px 10px black;
  border: 5px solid #017418;
  border-radius: 10px;
}
#display {
  width: 320px;
  height: 40px;
  text-align: right;
  background-color: #6f6f6f;
  border: 3px solid #acaaaa;
  font-size: 18px;
  left: 2px;
  top: 2px;
  color: white;
}
.btnTop{
  color: white;
  background-color: black;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.btnNum {
  color: white;
  background-color: #6f6f6f;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.btnMath {
  color: white;
  background-color: #0308d5;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.btnOpps {
  color: white;
  background-color: #0308d5;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}