mat-sidenav {
  width: 200px;
}

.backdrop{
            position: absolute;
            width: 100%;
            height: 100%;
            background:rgba(0,0,0,0.4);
            z-index: 9999;
}

.tutor-backdrop{
            position: absolute;
            width: 100%;
            height: 100%;
            background:rgba(0,0,0,0.7);
            z-index: 9999;
}

.tutor-backdrop .tutor-message{
    color: white;
    position: fixed;
    left: 40px;
    width: 70%;
}

.tutor-backdrop .tutor-message mat-icon{
    vertical-align: text-bottom;
    /* padding-top: 10px; */
    font-size: 28px;
}
.tutor-backdrop .tutor-message .enter, .tutor-backdrop .tutor-message button{
    margin-left:30px !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

mat-sidenav .material-icons{
            font-size: 20px;
            padding:0 !important;
}

a.menu-item{
    color:#757575;
}

.sidenav-toolbar{
    background-size: cover;
    height:250px;
}

.page{
    padding:20px;
}

a.active{
    background-color: #404854!important;
    color: white;
}

.mat-list, .mat-nav-list {
    padding-top: 0 !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary{
  background-color: #01579b;
}

.mat-toolbar.mat-accent {
  background-color: #f5f5f5;
  color: black;
}
