<div class="tutor-backdrop" *ngIf="tutor">
  <div class="tutor-message" [ngStyle]="{'top':'15px'}">
    <mat-icon>arrow_left</mat-icon> Klik disini untuk membuka <br>
    <span class="enter">dan menutup menu samping</span><br>
    <button mat-raised-button color="primary" (click)="closeTutor()">saya paham</button>
  </div>
</div>
<mat-toolbar color="primary" class='main-header mat-elevation-z4'>
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Klik untuk membuka atau menutup menu samping!" matTooltipPosition="right">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{appTitle}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-progress-bar *ngIf="headerLoading" mode="query" color="warn"></mat-progress-bar>

<div class="backdrop" *ngIf="backdrop"></div>

<mat-sidenav-container class='app-inner'>
  <mat-sidenav #sidenav [opened]="isOpen" [mode]='sidemode' class="mat-elevation-z4" style="background-color: #19222b">
    <mat-nav-list>
      <ng-template ngFor let-item [ngForOf]="menu">
        <a class='menu-item' mat-list-item fxHide.xs (click)="setToolbar(item)" [routerLink]="[item.path]" routerLinkActive="active">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <span mat-line>{{item.name}}</span>
        </a>
        <a class='menu-item' mat-list-item fxHide fxShow.xs (click)="setToolbar(item); sidenav.close()" [routerLink]="[item.path]" routerLinkActive="active">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <span mat-line>{{item.name}}</span>
        </a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
            <mat-toolbar color="accent" class='page-toolbar'>
                        <mat-icon>{{pageToolbar.icon}}</mat-icon> {{pageToolbar.name}}
                      </mat-toolbar>
                      <div class='page' [style.xs]="{padding:'0'}">
                        <app-calculator *ngIf="router.url == '/'"></app-calculator>
                        <router-outlet></router-outlet>
                      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
