@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-amber, A200);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

:host {
    display: flex;
    flex: 1;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(assets/material-font.woff2) format('woff2');
}

// .material-icons {
   //   font-family: 'Material Icons';
   //   font-style: normal;
   //   display: inline-flex;
   //   vertical-align: middle;
   //   -webkit-font-feature-settings: 'liga';
   //   -webkit-font-smoothing: antialiased;
   // }

mat-sidenav.mat-sidenav-opened, mat-sidenav.mat-sidenav-opening{
// box-shadow: 0px 0px 0px !important;
// background-color:mat-color($candy-app-primary-light);
}

mat-nav-list a[mat-list-item]{
    color:mat-color($candy-app-primary);
}

mat-toolbar.main-header {
    position: relative;
    z-index: 1;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.app-inner {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 64px);
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.sidenav-toolbar, .page-toolbar{
    background-color: mat-color($candy-app-accent);
    padding:20px;
}

//mat-form-field{
  //    // margin-right:20px;
  //    margin-bottom:20px;
  //}

//.mat-select-trigger{
  //    // margin-right:20px;
  //    margin-bottom:30px;
  //    height:35px !important;
  //}

mat-form-field.ng-invalid.ng-touched .mat-form-field-wrapper .mat-form-field-underline{
    background-color: #f44336 !important;
}

mat-form-field.ng-invalid.ng-touched .mat-form-field-label{
    color:#f44336;
}

mat-form-field.ng-valid.ng-touched .mat-form-field-wrapper .mat-form-field-underline{
    background-color: #4CAF50 !important;
}

mat-select.ng-valid.ng-touched .mat-select-trigger .mat-select-underline{
    background-color: #4CAF50 !important;
}

.form-hint{
    font-size: 14px;
    color: #f44336;
    padding: 20px 0;
}

//mat-radio-group{
  //  margin-bottom: 20px;
  //}

.mat-radio-label .mat-radio-container .mat-radio-outer-circle{
    border-color:rgba(0, 0, 0, 0.38) !important;
}
.mat-radio-label .mat-radio-container .mat-radio-inner-circle{
    background-color: rgba(0, 0, 0, 0.38) !important;
}

.mat-radio-label .mat-radio-label-content{
    color: rgba(0, 0, 0, 0.38) !important;
}

.mat-radio-checked .mat-radio-label .mat-radio-container .mat-radio-outer-circle{
    border-color:#2196F3 !important;
}
.mat-radio-checked .mat-radio-label .mat-radio-container .mat-radio-inner-circle{
    background-color: #2196F3 !important;
}

.mat-radio-checked .mat-radio-label .mat-radio-label-content{
    color: black !important;
}

.yb-datepicker{
    font-size:14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    border: none;
    background-color: white !important;
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
}

mat-card-actions{
    padding:20px;
    border-top: thin solid rgba(0, 0, 0, 0.12);
}

.mat-card-header-text {
    margin: 0 !important;
}

h1[mat-dialog-title]{
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
}

div[mat-dialog-actions]{
    border-top: thin solid rgba(0, 0, 0, 0.12);
}

.mat-dialog-content{
    min-width: 40vw;
    min-height: 20vw;
}
